<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjiayu.exam_system_server_online.mapper.CategoryMapper">
    <sql id="tableName">
        categories
    </sql>

    <sql id="baseColumn">
        id,name,parent_id,sort,create_time,update_time,is_deleted
    </sql>

</mapper>