<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjiayu.exam_system_server_online.mapper.VideoViewsMapper">
    <sql id="tableName">
        video_views
    </sql>

    <sql id="baseColumn">
        id,video_id,user_ip,user_agent,view_duration,created_at
    </sql>

</mapper>